@using System.ComponentModel.Design
@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls
@using YeahTVApi.Common
@using YeahTVApi.Entity.CentralMapping
@using YeahTVApi.Resource


    <link href="~/html/css/selfService.css" rel="stylesheet" />
<body class="xuzhu">
    <header class="xz_name">@YeahTVApiMessage.RoomServiceStayOver</header>
    @if (null != ViewBag.Orders)
    {
        ReceiveOrders order = ViewBag.Orders;
        Dictionary<DateTime, decimal> futureOrderPrice = ViewBag.futureOrderPrice;
        var checkOutDate = order.CheckoutDate;
        var memberId = ViewData["memberId"];
        int i = 1;
        decimal price = Math.Abs(order.PaidMoney);
        <div class="xz_main">
            <div class="xz_now">
                <ul class="clearfix">
                    <li>@order.RoomTypeName (@order.RoomNumber)
                    </li>
                    <li>@order.CheckoutDate.ToString("MM.dd HH") @YeahTVApiMessage.RoomServiceCheckOut.Replace(" ","")
                    </li>
                    <li class="xz_left">@YeahTVApiMessage.RoomServiceArrearage:¥@price
                    </li>
                </ul>
            </div>
            <div class="xz_future">
                <div class="xz_days">
                    <ul id="selectDay" class="clearfix">
                         
                            @foreach (var item in futureOrderPrice)
                            {
                                string cls = i == 1 ? "select" : "";
                                var day = PubFun.getFormatDate(item.Key.AddDays(1));
                                price += item.Value;
                                var id = "select" + i;
                                <li><a id="@id" onclick=" selectDay(this, @i, '@day', '@price') "   class="@cls">@i
                                        @if (i <= 1)
                                        {
                                            @YeahTVApiMessage.RoomServiceDayUnit
                                        }
                                        else
                                        {
                                            @YeahTVApiMessage.RoomServiceDaysUnit
                                        } </a></li>
                                i++;
                            }
                         

                    </ul>
                    <div class="xz_leaving">
                        @YeahTVApiMessage.RoomServiceLastCheckOutTime：<label id="lblCheckOutTime"></label>
                    </div>
                </div>
                <div class="xz_price">
                    <p class="xz_price_name">
                        @YeahTVApiMessage.RoomServiceTotalPrice
                    </p>
                    <p class="xz_price_number">
                        <label id="lblTotalPrice"></label>
                    </p>
                    <p class="xz_price_everyday">
                        @YeahTVApiMessage.RoomServiceDayPrice：
                     @foreach (var item in futureOrderPrice)
                     {
                         @item.Value<label />
                     }

                    </p>
                </div>
            </div>
        </div>

        <div class="btn btn-blue"><a id="aPay">@YeahTVApiMessage.CommonAlipayQRPay</a> </div>
     
        <script type="text/javascript">
            $("#select1").click();
            function selectDay(obj, num, day, price) {

                //清空样式 
                var li = document.getElementById("selectDay").getElementsByClassName("select");
                for (var i = 0; i < li.length; i++) {
                    li[i].setAttribute("class", "");
                }
                //设置选中样式
                obj.setAttribute("class", "select");
                $("#lblTotalPrice").html("¥" + price);

                $("#lblCheckOutTime").html(day);
                $("#aPay").attr("href", "/Payment/AlipayQRPay?day=" + num + "&totalPrice=" + price);
            }
        </script>
    }


</body>
