@using YeahTVApi.DomainModel.Models
@using YeahTVApi.Resource
<link href="~/html/css/selfService.css" rel="stylesheet" />
<body class="game" onload="loadfocus()">

    <style>
        a:focus {
            
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-box-shadow: 0 0 25px rgba(255,255,255,1);
        }

        a {
            display: block;
        }
    </style>
    <header class="game_name">@YeahTVApiMessage.GameTitle</header>
    <div style="color: white; line-height: 20px" id="sysInfo"></div>
    @{
        List<TVGame> list = ViewBag.list; 
    }
    <div class="game_main clearfix">
        <div class="game_left">
            <ul class="game_list_big">
                @{

                    var topGame = list[0];
                    var topGameRate = "game_level level_" + @topGame.RATE;
                    <li id="li0" tabindex="0">
                        <a  onclick="option('@topGame.PACKAGE_NAME','@topGame.URL',false);" href="javascript:void(0);">
                            <img src="@topGame.ICON_URL">

                            <div class="game_info">
                                <h4>@topGame.NAME</h4>
                                <div class="@topGameRate"></div>
                            </div>
                            <div id="@topGame.PACKAGE_NAME.Replace(".", "_")" style="color:white; position:absolute;  top:1px;right: 1px"></div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div>
            <ul class="game_list_small" style="text-align: center">
                @for (int i = 1; i < list.Count; i++)
                {
                    var game = list[i];
                    var rate = "game_level level_" + @game.RATE;
                    var id = "li" + @i;
                    <li>
                        <a onclick="option('@game.PACKAGE_NAME','@game.URL',false);" href="javascript:void(0);">
                            <img src="@game.ICON_URL">
                            <div id="@game.PACKAGE_NAME.Replace(".", "_")" style="color:white; position:absolute;  top:1px;right: 1px"></div>
                            <div class="game_info_2">
                                <h4>@game.NAME</h4>

                                <div class="@rate"></div>
                            </div>
                        </a>

                    </li>
                }
            </ul>
        </div>
        <div style="line-height:80px; min-height: 80px; display: block;">
            &nbsp;

        </div>
    </div>

    <script type="text/javascript">
        function option(packageName, url, isDel) {
            console.log("option:" + packageName);
            var obj = {
                "packageName": packageName,
                "url": url,
                "delete": isDel
            };
            var jsonStr = JSON.stringify(obj);
            window.gameHandler.option(jsonStr);


        }

        function showSysInfo(id, info) {
            console.log("id", id);
            document.getElementById(id).innerHTML = info;
        }

        function keyPressEvent(keycode) {
            console.log("h5------------keycode:" + keycode);
            if (document.hasFocus()) {


                // setTimeout("optionChange('" + keycode + "');", 5);
            }
        }

        function loadfocus() {
            $("#li0 a").focus();
        }




    </script>
</body>
