@model PagedViewList<YeahTVApi.DomainModel.Models.ViewModels.HotelInfoStatistics>
<div class="row" id="list">
    <table id="viewTable" class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr role="row">
                <th>酒店名称</th>
                <th>城市</th>
                <th>常用机</th>
                <th>备用机</th>
                <th>总数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Source)
            {
                <tr>
                    <td>
                        @item.HotelName
                        <input type="hidden" class="key" value="@item.HotelId" />
                    </td>
                    <td>@item.City</td>
                    <td>@item.DeviceTraceSeriesCount</td>
                    <td>@item.BackUpDeviceSeriesCount</td>
                    <td>@item.DeviceSeriesTotal</td>
                    <td>
                        <div class=" action-buttons">
                            <a data-optype="view" class="blue" href="@Url.Action("Index", new { hotelId = item.HotelId })">
                            <i class="icon-zoom-in bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
