@model List<AppPublish>
<div class="row list">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr role="row">
                <th>版本名称</th>
                <th>APP名称</th>
                <th>文件名</th>
                <th>发布时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @item.AppVersion.VersionName
                    </td>

                    <td>
                        <input type="hidden" class="key" value="@item.Id" />
                        <input type="hidden" class="version" value="@item.VersionCode" />
                        <input type="hidden" class="hotelId" value="@item.HotelId" />
                        @item.AppVersion.App.Name
                    </td>
                    <td>
                        <a href="@item.AppVersion.AppUrl">@item.AppVersion.FileName</a> 
                    </td>
                    <td>
                        @item.PublishDate.ToDateTimeStr(DateFormate.yyyyMMddHHmm)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>