
@model PagedViewList<SystemConfig>
<div class="row" id="list">
    <table id="viewTable" class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr role="row">
                <th>配置名称</th>
                <th>配置值</th>
                <th>配置类型</th>
                <th>最后更新时间</th>
                <th>AppId</th>
                <th>是否可用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Source)
            {

                <tr>
                    <td>
                        <input type="hidden" class="key" value="@item.Id" />
                        <input type="hidden" class="version" value="@item.ConfigName" />
                        @item.ConfigName
                    </td>
                    <td>
                       @item.ConfigValue
                    </td>
                    <td>
                        @item.ConfigType
                    </td>
                    <td>
                        @item.LastUpdateTime.ToDateTimeStr()
                    </td>
                    <td>
                        @item.AppId
                    </td>
                    <td>
                        @if (item.Active)
                        {
                            <i class="icon-ok green"></i>
                        }
                        else
                        {
                            <i class="icon-remove red"></i>
                        }
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                            <a data-optype="view" class="blue" href="javascript:void(0)">
                                <i class="icon-zoom-in bigger-130"></i>
                            </a>
                            <a data-optype="edit" class="green" href="javascript:void(0)">
                                <i class="icon-pencil bigger-130"></i>
                            </a>
                        </div>
                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-caret-down icon-only bigger-120"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                    <li>
                                        <a data-optype="view" href="javascript:void(0)" data-action="@(item.ConfigName.ToLower() == "hotelpayment" ? "EditHotelPayment" : "AddOrEdit")"  class="tooltip-info" data-rel="tooltip" title="" data-original-title="查看">
                                            <span class="blue">
                                                <i class="icon-zoom-in bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-optype="eidt" href="javascript:void(0)" data-action="@(item.ConfigName.ToLower() == "hotelpayment" ? "EditHotelPayment" : "AddOrEdit")"  class="tooltip-success" data-rel="tooltip" title="" data-original-title="编辑">
                                            <span class="green">
                                                <i class="icon-edit bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>