@model YeahTVIntegralExchange.Models.OrderModels
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <title>TV积分兑换</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/jinjiangcss/style.css" rel="stylesheet" />
    <style>
        .headerWx .integral {
            position: absolute;
            bottom: 0rem;
            text-align: center;
            width: 100%;
        }

            .headerWx .integral:last-child {
                font-size: .3rem;
                color: #fff;
            }

            .headerWx .integral .integralValue {
                font-size: .7rem;
                color: #fff;
            }

        .content {
            padding-top: 0px;
        }

        .bottoms .footer .notenough {
            color: #EE6146;
            background: #fff;
        }

        .bottomNot {
            height: 10%;
            width: 100%;
            text-align: center;
        }

            .bottomNot .footer {
                position: fixed;
                bottom: 0px;
                left: 0;
                width: 100%;
            }

                .bottomNot .footer span {
                    text-align: center;
                    display: inline-block;
                    width: 85%;
                    margin: 0 auto;
                    margin: 20px;
                    padding: 10px;
                    color: red;
                }

        .bottoms > .footer > .submitClass {
            background: #C0C7CA;
        }
    </style>
</head>
<body>
    <div data-role="page" id="pageone" class="main">
        <div data-role="header" class="headerWx">
            <img src="~/Content/jinjiangcss/topback.png" id="topImg" />
            <div class="top">
                <span>TV积分兑换</span>
                <span class="backIcon" onclick="location.href = '@Url.Action("Index")';">
                    @*<img src="~/Content/jinjiangcss/iconfont-fanhui.png" />*@
                </span>
            </div>
            <div class="integral hide">
                <span class="integralValue"></span><span>积分</span>
            </div>
        </div>
        <div data-role="main" class="content">
            <ul>
                <li>
                    <h1>当前积分：</h1>
                    <p><span class="score">@Model.CurScore</span></p>
                </li>
                <li>
                    <h1>商品名称：</h1>
                    <p><span class="goodName"></span></p>
                </li>
                <li>
                    <h1>订单编号：</h1>
                    <p><span class="order">@Model.orderid</span></p>
                </li>
            </ul>

        </div>
        <div data-role="footer" class="bottoms hide">
            <div class="footer">
                <span id="btn">立即兑换</span>
                @*<span onclick="location.href = '@Url.Action("IntegralExchange_Fail")';">积分不足,无法兑换</span>*@
            </div>
        </div>
        <div data-role="footer" class="bottomNot hide">
            <div class="footer">
                <span>积分不足,无法兑换</span>
            </div>
        </div>
    </div>
    <script>
    var token = "";
    var orderId = "";
    var memberId = "@Model.memberid";//
    var score = "";
    var curScore = "@Model.CurScore";
    var ticket = "@Model.Ticket";
    function getToken() {
        if (memberId == "") {//未绑定用户
            localStorage.bandUser = true;
            location.href = '@Url.Action("IntegralExchange_Error")';
        }
        var requestData = {};
        requestData.memberid = memberId;
        requestData.orderid = orderId;
        requestData.sign = "@Model.sign";
        requestData.score = curScore;
        requestData.ticket = ticket;
        $.ajax({
            type: 'Get',
            url: "/JinJiang/GetToken",
            data: requestData,
            dataType: "json",
            success: function (result) {
                var ret = JSON.parse(result);
                if (ret.code == 204) {//未绑定用户
                    localStorage.bandUser = true;
                    location.href = '@Url.Action("IntegralExchange_Error")';
                    return false;
                } else if (ret.code == 10) {//系统默认错误、异常
                    location.href = '@Url.Action("IntegralExchange_Error")';
                }
                else if (ret.code == 1) {//success
                    token = ret.data.token;
                    orderId = ret.data.orderid;
                    localStorage.orderId = orderId;
                    $(".order").text(orderId);
                    getScore();
                } else {
                    //alert(ret.message);
                    location.href = '@Url.Action("IntegralExchange_Fail")';
                }
            },
            error: function (data) {
                console.log(data);
                location.href = '@Url.Action("IntegralExchange_Error")';
            }
        });

    }
    function getScore() {
        var requestData = {};
        requestData.memberid = memberId;
        requestData.orderid = orderId;
        requestData.token = token;
        $.ajax({
            type: 'Get',
            url: "/JinJiang/GetScore",
            data: requestData,
            dataType: "json",
            success: function (result) {
                var ret = JSON.parse(result);
                if (ret.code == 1) {
                    $("span.integralValue").text(ret.data.score);
                    $("span.goodName").text(ret.data.name);
                    $(".integral").show();
                    localStorage.score = ret.data.score;
                    if (ret.data.score > curScore) {//积分不足
                        $(".bottoms").hide();
                        $(".bottomNot").show();
                    } else {
                        $(".bottoms").show();
                        $(".bottomNot").hide();
                    }
                } else if (ret.code == 10) {
                    location.href = '@Url.Action("IntegralExchange_Error")';
                } else {
                    //alert(ret.message);
                    location.href = '@Url.Action("IntegralExchange_Fail")';
                }
            },
            error: function (data) {
                console.log(data);
                location.href = '@Url.Action("IntegralExchange_Error")';
            }
        });

    }

    function exchange(obj) {
        obj = $("#btn");
        var requestData = {};
        requestData.memberid = memberId;
        requestData.orderid = orderId;
        requestData.token = token;
        $.ajax({
            type: 'Post',
            url: "/JinJiang/ExchangeScore",
            data: requestData,
            dataType: "json",
            beforeSend: function () {
                $(obj).attr("disabled", true).addClass("submitClass");
            },
            success: function (result) {
                $(obj).removeAttr("disabled").removeClass("submitClass");
                $(obj).one("click", function () {
                    exchange();
                });
                var ret = JSON.parse(result);
                console.log("exchange", ret);
                if (ret.code == 1) {
                    location.href = '@Url.Action("IntegralExchange_Success")';
                } else if (ret.code == 205) {//积分不足
                    $(".bottoms").hide();
                    $(".bottomNot").show();
                } else if (ret.code == 204) {//未绑定用户
                    localStorage.bandUser = true;
                    location.href = '@Url.Action("IntegralExchange_Error")';
                    return false;
                } else {
                    location.href = '@Url.Action("IntegralExchange_Fail")';
                }
            },
            error: function (data) {
                console.log(data);
                $(obj).removeAttr("disabled").removeClass("submitClass");
                $(obj).one("click", function () {
                    exchange();
                });
                location.href = '@Url.Action("IntegralExchange_Error")';
            }
        });
    }
    window.onload = function () {
        localStorage.clear();
        localStorage.orderId = orderId;
        debugger;
        getToken();
        $("#btn").one("click", function () {
            exchange();
        });
    }
    </script>
</body>
</html>
